{% load i18n leprikon_tags %}
{% if is_paginated %}
<nav aria-label="pagination" class="d-flex flex-row">
    <ul class="pagination pagination-sm me-2">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" aria-label="{% trans 'previous' %}" href="?{% query_string 'page' page_obj.previous_page_number %}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
        <li class="page-item{% if page_number == page_obj.number %} active{% endif %}">
            <a class="page-link" href="?{% query_string 'page' page_number %}">{{ page_number }}</a>
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" aria-label="{% trans 'next' %}" href="?{% query_string 'page' page_obj.next_page_number %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <p class="mt-1">
        {% with from=page_obj.start_index until=page_obj.end_index count=page_obj.paginator.count %}
        {% blocktrans %}displaying {{ from }} – {{ until }} of {{ count }}{% endblocktrans %}
        {% endwith %}
    </p>
{% endif %}
</nav>
