{% load i18n leprikon_tags menu_tags sekizai_tags %}

<form action="{% url 'leprikon:school_year' %}" method="post" id="id_school_year_form">
    {% csrf_token %}
    <input type="hidden" name="{% param_back %}" value="{% current_url %}"/>
    <input type="hidden" name="school_year" value="" id="id_school_year_input"/>
</form>

<span class="dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% trans 'school year' %} {{ school_year_form.school_year.initial }}
  </button>
  <ul class="dropdown-menu">
    {% for school_year in school_year_form.fields.school_year.queryset %}
    <li>
        <a class="dropdown-item" href="javascript: $('#id_school_year_input').val({{ school_year.id }}); $('#id_school_year_form').submit();">
            {{ school_year }}
        </a>
    </li>
    {% endfor %}
  </ul>
</span>
