{% load i18n leprikon_tags sekizai_tags thumbnail %}

{% for leader in leaders %}

{% include 'leprikon/leader_preview.html' with object=leader %}

{% if request.toolbar.use_draft %}
{% addtoblock 'js' %}
<script>
(function($) {
$(document).ready(function () {
    new CMS.Plugin('leader_name_{{ leader.id }}', {
        'plugin_name': '{{ leader.name }}',
        'urls': {
            'edit_plugin': '{{ leader.get_edit_url }}',
        },
    });
});
})(CMS.$);
</script>
{% endaddtoblock %}
{% endif %}

{% endfor %}

